* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("pictures/bg3.jpg");
  
  
}

/* Style the header */
header {
  background-image: url("pictures/05.jpg");
  padding: 15px;
  text-align: center;
  font-size: 35px;
  color: white;
  height:50%;
  
}

nav{
  text-align: right;
  font-size: 17px;
  height:15px
  }

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: fixed;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background:#C0C0C0 ;
  padding: 25px;
    
}

img {
  border: 0px solid #ddd;
  border-radius: 8px;
  padding: 0px;
  width: 350px;
  height: 300px; 
  float: left;
  margin: 5px 10px 10px 0px;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 5px;
  height: 300px; 
}
.column {
  float: right;
  width: 33%;
  padding: 5px;
  height: 295px; 
}
.row:after{
  content: "";
  display: table;
  clear: both;
  }

/* Style the footer */
footer {
  background-color: #777;
  text-align: center;
  height:80px;
  text-align: center;
  color: white;
  padding: 5px 10px 
  
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 42px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px 10px 20px;
  float: right;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background-image:url("pictures/10.png"); 
  border-radius: 8px;
  padding: 10px;
  width: 42px;
  height:42px; 
  
  color: white;
}

.fa-email {
  background-image:url("pictures/13.png"); 
  border-radius: 8px;
  padding: 10px;
  width: 42px;
  height: 42px; 
  
  color: white;
}

.fa-whatsapp {
  background-image:url("pictures/12.jfif"); 
  border-radius: 8px;
  padding: 10px;
  width: 42px;
  height: 42px; 
 
  color: white;
}

.fa-phone {background-image:url(pictures/15.png);
  border-radius: 8px;
  padding: 10px;
  width: 42px;
  height: 42px;
  color: white;
}



/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}